@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply p-3 mx-auto;
  font-family: Inter, sans-serif;
}

a {
  @apply underline decoration-blue-800 hover:text-blue-800;
}

.clamp {
  width: clamp(10%, 700px, 100%);
}

@media print {
  .clamp {
    width: 100%;
  }
}

html {
  overflow-y: scroll;
}
